.mask1 {
    -webkit-mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
    mask-image: linear-gradient(to bottom, transparent 25%, black 75%);
  }

  .mask2 {
    -webkit-mask-image: radial-gradient(circle at 50% 60%, black 50%, rgba(0, 0, 0, 0.6) 50%);
    mask-image: radial-gradient(circle at 50% 60%, black 50%, rgba(0, 0, 0, 0.6) 50%);
  }
  .mask3 {
    -webkit-mask-image: radial-gradient(ellipse 90% 80% at 48% 78%, black 40%, transparent 50%);
    mask-image: radial-gradient(ellipse 90% 80% at 48% 78%, black 40%, transparent 50%);
  }

body{

    background-color: black;
}




  .mask4 {
    -webkit-mask-image: url("/images/image-mask.png");
    mask-image: url("/images/image-mask.png");
    -webkit-mask-size: 400px 600px;
    mask-size: 400px 600px;
  }
.mask5 {
    width:800px;
    height:800px;
    
    mask-image:url("images/masked.png");
    -webkit-mask-image: url("images/masked.png");
}

  .content {
    font-size: 1.875rem;
    color: #262626;
    background-size: 49% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  /*

